.all__btn-container {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.delete {
  grid-column-start: 1;
  grid-column-end: 3;
}
.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(124, 124, 124);
  font-size: 30px;
  font-weight: 600;
  color: rgb(44, 43, 43);
  background-color: rgb(216, 216, 216);
}
button:hover {
  background-color: rgb(199, 199, 199);
}
button:active {
  background-color: rgb(255, 255, 255);
}

.red {
  background-color: rgba(226, 81, 81, 0.733);
}
.red:hover {
  background-color: rgba(202, 5, 5, 0.651);
}
.red:active {
  background-color: rgb(255, 100, 100);
}

.orange {
  background-color: rgb(231, 172, 62);
}
.orange:hover {
  background-color: rgb(211, 157, 56);
}
.orange:active {
  background-color: rgb(255, 189, 67);
}
